.navbar {
    background-color: #b3740ee3;
        padding-top: 20px;
        padding-bottom: 20px;
        height: 60px;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0%;

}

.body_utama {
    background-color: #2be625;
        background: linear-gradient(to bottom,#2be625, #886593);
        min-height: 100vh;
}

.text-center {
    padding-top: 220px;
        padding-bottom: 200px;
        color: #64204d;
        font: bold;
        font-family: Arial;
}

.text-footer {
    text-align: center;
}